.pic-background {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.parent-div {
    position: relative;
    width: 100%;
}
  
.parent-div img {
    width: 100%;
}

.introduce {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
	left:10%;
	top:10%;
    right: 10%;
    position: absolute;
}

/* 翻页按钮 */
.next-button {
    position: absolute;
    cursor: pointer;
    border: 0;
    right: 5%;
    bottom: 5%;
    background: none; /* 移除默认按钮背景 */
    padding: 0; /* 移除默认按钮内边距 */
    height: 100px;
    width: 200px;
    outline: none;
}

.next-button img {
    display: block;
    width: 80px; /* 设置图片宽度 */
    height: 32px; /* 设置图片高度 */
}


.parent-div h1 {
    font-size: 2vw; /* 标题字体大小随视窗宽度变化 */
}

.parent-div p {
    font-size: 1vw; 
    margin: 1vw 0; 
}

.more {
    font-size: 1vw;
    position: absolute;
    right: 0%;
    top:0%;
    color: white;
    text-decoration: none;
}

.more:hover {
    color: gray;
}
/*轮播图下方dot样式*/
.slick-dots1
{
 position: absolute;
 display: block;
 width: 100%;
 padding: 0;
 margin: 0;
 list-style: none;
 left: 10%; /*dot整体位置*/
 bottom: 5%;
}

.slick-dots1 li
{
 position: relative;
 display: inline-block;
 width: 20px;
 height: 20px;
 margin: 0 70px;/*标签间间距*/
 padding: 0;
 cursor: pointer;
}

.slick-dots1 li button
{
 font-size: 0;
 line-height: 0;
 display: block;
 width: 20px;
 height: 10px;
 padding: 5px;
 cursor: pointer;
 color: transparent;
 border: 0;
 outline: none;
 background: transparent;
}

.slick-dots1 li button:hover,
.slick-dots1 li button:focus
{
 outline: none;
}

.slick-dots1 li button:hover:before,
.slick-dots1 li button:focus:before
{
 opacity: 1;
}

/*未选中时的样式*/
.slick-dots1 li button:before
{
 font-family: 'slick';
 font-size: 8px;
 line-height: 8px;
 position: absolute;
 width: 60px;/*标签长度*/
 height: 2px;
 content: '';
 text-align: center;
 opacity: .25;
 background-color: rgb(255, 255, 255);
 -webkit-font-smoothing: antialiased;
 -moz-osx-font-smoothing: grayscale;
}

/*选中的样式*/

.slick-dots1 li.slick-active button:before
{
 opacity: .75;
 color: #2183E2;
 background-color: #2183E2;
}
