.row-container {
    display: flex;  /* 这将使子元素横向排列 */
    align-items: center; /* 垂直居中对齐 */
    justify-content: space-between; /* 水平居中对齐 */
}

.row-container.image-left .text-image-block {
    order: 1; /* 图片在左 */
}

.row-container.image-left .content {
    order: 2; /* 文字在右 */
}

.row-container.image-right .text-image-block {
    order: 2; /* 图片在右 */
}

.row-container.image-right .content {
    order: 1; /* 文字在左 */
}

.row-container.row-container.content p {
    text-align: justify;
}

.row-container.row-container.image-left .content  {
    text-align: justify;
    padding-left: 345.6px; /* 18% of 1920px */
}

.row-container.image-right .content  {
    text-align: justify;
    padding-right: 345.6px; /* 18% of 1920px */
}

.text-image-block img {
    height: 537.6px; /* 28% of 1920px */
    width: 422.4px; /* 22% of 1920px */
    object-fit: cover; /*裁切图片*/
}

.sub-title {
    font-size: 57.6px; /* 3% of 1920px */
}

.text-with-image-container.with-bottom {
    border-bottom: 1px solid #ccc;
    padding-bottom: 5%; /* 没有改变，因为百分比是基于容器的高度或宽度 */
}
