
#all-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title-line {
    display: flex;
    justify-content: space-between;
}

.main-title {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}
  
.items {
    display: flex;
    justify-content: space-between;
}
  
.item {
    box-sizing: border-box;
}
  
.item-first {
    position: relative;
    margin-right: 75px;
}
  
.other-items {
    position: relative;
}
  
.item-first img {
    width: 570px;
    height: 360px;/*是否不等宽*/
    object-fit: cover; /*裁切图片*/
}

.other-items img {
    width: 288px;
    height: 360px;
    object-fit: cover; /*裁切图片*/
}
  
.white-more {
    display: flex;
    flex-direction: column;
    justify-content: center;
	left:10%;
	top:10%;
    right: 10%;
    text-decoration: none;
    font-size: 25px;
    color: black;
}

.introduce-white {
    position: absolute;
    color: white;
	left:10%;
	top:40%;
    right: 10%;
}

.introduce-white-under {
    color: black;
    margin-right: 0%;
}

.introduce-white h2 ,.introduce-white-under h2{
    font-size: 35px;
}

.introduce-white p ,.introduce-white-under p{
    font-size: 25px;
}

.whitebackground-introduce {
    font-size: 25px;
    font-weight: 200;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
}

.white-more:hover {
    color: rgba(0, 0, 0, 0.618);
}